<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>TP4: SYMFONY</title>
        {# {% block stylesheets %}{% endblock %} #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap_css/bootstrap.min.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

    </body>
</html>
