{% extends "::base.html.twig" %}


{% block body %}






        <div class="container" style="width: 50%">
            <h2>Listes des Docteurs</h2>
            {% for d in doctors %}
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>{{ d.name }}</td>

                    </tr>
                </table>
            {% endfor %}
        </div>




{% endblock %}
